name: 01-Building Blocks

on: push

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: |
          echo "Not Failing on purpose"
          exit 0
      - name: Say Goodbye
        run: echo "Goodbye World"
