name: 02-Trigger Events

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  echo1:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World
        run: echo "Echo 1"


  echo2:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger      
        run: |
          echo "Event Name: {{ github.event_name }}"