name: 06-workflow-contexts

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      MY_VAR:
        description: "Some variable"
        required: true
        default: "hello world"

jobs:
  echo1:
    runs-on: ubuntu-latest
    steps:
      - name: Display Info
        run: |
          echo "Event name: ${{ github.event_name }}"

          echo "Ref: ${{ github.ref }}"

          echo "SHA: ${{ github.sha }}"

          echo "Actor: ${{ github.actor }}"

          echo "Workflow: ${{ github.workflow }}"

          echo "Run ID: ${{ github.run_id }}"

          echo "Run number: ${{ github.run_number }}"
      - name: Retrieve Variable
        run: |
          echo "MY_VAR: ${{ vars.MY_VAR }}"
