name: 16 - Working with environments

on:
  workflow_dispatch:
  inputs:
    target-env:
      type: environment
      default: dev
  push:
    branches:
      - main

jobs:
  echo:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target-env }}
    env:
      my-env-value: ${{ vars.my-env-value || 'default value'}}
    steps:
      - name: Echo vars
        run: |
          echo "Env variable: ${{ env.my-env-value }}"          
    