name: 16 - Working with environments

on:
  workflow_dispatch:
    inputs:
      target-env:
        description: 'Target environment'
        type: environment
        default: dev
  push:
    branches:
      - main

jobs:
  echo:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target-env }}
    env:
      my-env-value: ${{ vars.my_env_value || 'default value'}}
    steps:
      - name: Echo vars
        run: |
          echo "Env variable: ${{ env.my-env-value }}"          
    